/* scrollbar */
::-webkit-scrollbar-thumb:hover{
    background-color: yellowgreen;
}
/* effetti lista home */
.home li:hover{
    color: #FFFFFF;
}
.home li:active .bar{
    display: block;
}
/* effetti lista playlist */
.crea:hover, .playlist li a:hover{
    color: #FFFFFF;
}
/* effetti div bloccato inferiore */
.installa span:hover{
    color: #FFFFFF;
}
/* effetti intestazione */
.upgrade:hover{
    font-size: 1.5em;
}
.upgrade:active{
    border-color: yellowgreen;
    color: yellowgreen;
}
/* effetti barra di navigazione */
.navbar li:hover{
    color: #FFFFFF;
}
.navbar li:active .nav-active{
    display: block;
}
/* effetti contenuto principale */
.box:hover .play{
    display: block;
}
.box:hover{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}
/* effetti barra di riproduzione */
/* canzone (sinistra) */
.actions i:hover{
    color: #FFFFFF;
}
/* pulsanti e durata canzone (centro) */
.play-buttons .fa-circle-play:hover{
    transform: scale(1.2);
    transition: all .5s;
}
.progress:hover{
    background-color: yellowgreen;
}
.progress:hover .indicator{
    display: block;
}
/* volume (destra) */
.actual-volume:hover{
    background-color: yellowgreen;
}
.actual-volume:hover .vol-indicator{
    display: block;
}