/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #FFFFFF;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}
ul{
    list-style-type: none;
}
/*general*/
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
/*scaffolding*/
.wrapper{
    height: 100vh;
    width: 100%;
}
.page{
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
}
aside{
    width: 230px;
    background-color: #000;
}
main{
    width: calc(100% - 230px);
    height: 100vh;
    overflow-y: auto;
    padding-bottom: 90px;
    background-color: #141922;
}
header{
    height: 80px;
    width: calc(100% - 230px);
    position: fixed;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.3);
}
footer{
    height: 90px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    left: 0;
    bottom: 0;
}
/*aside*/
aside{
    padding: 10px;
}
/*logo*/
.logo{
    width: 60%;
}
/*lista home*/
.home{
    margin: 20px 0;
}
.home li{
    height: 20px;
    font-size: 1.4em;
    margin-top: 10px;
}
.home img{
    height: 100%;
}
.gray{
    color: #666666;
}
/*lista playlist*/
aside h2{
    text-transform: uppercase;
}
.crea{
    display: flex;
    align-items: center;
    font-size: 1.4em;
    margin-top: 15px;
}
.playlist li{
    font-size: 1.4em;
    margin-top: 15px;
    color: #666666;
}
.playlist-cont{
    height: 230px;
    overflow-y: auto;
}
.fa-solid.fa-square-plus{
    font-size: 4em;
    margin-right: 0.2em;
}
/*div bloccato inferiore*/
.profile{
    width: 230px;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 90px;
    font-size: 1.8em;
    background-color: #000;
}
.jhon{
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-top: 1px solid #666666;
    padding-top: 10px;
}
.profilepic{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-image: url(../img/profile.svg);
    background-position: center;
    display: inline-block;
    background-color: gray;
    margin-right: 10px;
}
.jhon span{
    font-weight: bold;
    color: #FFFFFF;
}
/*sezione principale (destra)*/
/*intestazione (pulsante upgrade)*/
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.upgrade{
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 500;
    padding: 1em 2em;
    border-radius: 40px;
    border: 2px solid #FFFFFF;
}
/*barra di navigazione*/
nav{
    margin-top: 80px;
}
.navbar{
    display: flex;
    justify-content: center;
}
.navbar li{
    text-transform: uppercase;
    color: #666666;
    padding: 10px;
    font-size: 1.4em;
    font-weight: 600;
    cursor: pointer;
}
.nav-active{
    height: 2px;
    width: 30px;
    background-color: greenyellow;
    margin: 0 auto;
    display: none;
}
.navbar :first-child .nav-active{
    display: block;
}
/*barra di riproduzione*/
/*canzone (sinistra)*/
.song, .volume{
    width: 20%;
    float: left;
}
.song{
    height: 90px;
    padding: 2em 1em;
}
.song img{
    height: 100%;
    float: left;
}
.song-name{
    float: left;
    margin: 1.3em;
}
.song-name :first-child{
    font-weight: bold;
    font-size: 1.3em;
}
.song-name :last-child{
    color: gray;
    font-weight: 500;
}
.actions{
    float: left;
    margin-left: 1.2em;
    color: gray;
    font-size: 1.7em;
    line-height: 50px;
    cursor: pointer;
}
.actions .fa-folder{
    margin-left: 1em;
}
/*pulsanti e durata canzone (centro)*/
.time{
    width: 60%;
    height: 100%;
    float: left;
}
/*pulsanti*/
.play-buttons{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
}
.play-buttons .fa-regular{
    font-weight: 600;
    font-size: 1.5em;
    cursor: pointer;
}
.fa-regular.fa-circle-play{
    font-weight: 400;
    font-size: 3em;
}
/*durata canzone*/
.duration{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.timeline{
    background-color: #5A5A5A;
    width: 600px;
    height: 5px;
    border-radius: 3px;
    position: relative;
}
.progress{
    background-color: #C1C1C1;
    width: 150px;
    height: 5px;
    border-radius: 3px;
    position: absolute;
    left: 0;
}
/*volume (destra)*/
.volume{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
    padding-right: 1em;
}
.volume .fa-regular{
    font-weight: 600;
    font-size: 1.5em;
    cursor: pointer;
}
.max-volume{
    width: 150px;
    height: 4px;
    border-radius: 2px;
    background-color: #5A5A5A;
    position: relative;
}
.actual-volume{
    background-color: #C1C1C1;
    width: 30px;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 0;
}
/*contenuto*/
/*sezione recently played*/
.section-title{
    font-size: 1.8em;
    margin: 2em 1em;
}
.row{
    margin: 0 1%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 1%;
    width: 100%;
}
.box{
    height: 100%;
    width: calc((100% - 7%) / 6);
}
.album-img img{
    width: 100%;
}
.album-title{
    padding-top: 1em;
    text-align: center;
}
.album-title h3{
    font-size: 1.8em;
    font-weight: 700;
}
.album-title p{
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 0.8em;
}
/*sezione creato per jhon doe*/
.section-title p{
    font-size: 0.8em;
    font-weight: 700;
    margin-top: 1em;
}
/*sezione artisti più popolari*/
.box.box-artist img{
    border-radius: 50%;
}